body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

label, button, h1{
    font-family: solarpunkfont;
    color:aqua;
    
}

@font-face{
    font-family: solarpunkfont;
    src: url(../../fonts/DelogsGoesHi-Tech.otf);
}

.registration-box {
    background-color: rgba(0, 0, 0, 0.521);
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.registration-box label {
    display: block;
    margin-bottom: 8px;
}

.registration-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-box button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.registration-box button:hover {
    background-color: #45a049;
}